@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


body {background-color:  #0e5827;}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a, button {
	font-family: "Poppins", sans-serif;
	font-weight: 1000;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
	background-color: #1cb04d;
	height: 105px;
}

h1 { 
	font-family: "Poppins", sans-serif;
	font-weight: 1000;
	color: #0e5827;
	text-decoration: none;
	text-align: center;
}

p#middle {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	color: #4e574c;
	text-decoration: none;
	text-align: center;
}

.middle {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	color: #4e574c;
	text-decoration: none;
	text-align: center;
}

.logo {
	cursor: pointer;
	height: 120px;
	margin-right: auto;
}

.linki {
	list-style: none;
}

.linki li {
	display: inline-block;
	padding: 0px 20px;
}

.linki li a {
	transition: all 0.3s ease 0s;
}

.linki li a:hover {
	color: #0e5827;
}

.linki2 {
	list-style: none;
}

.linki2 li {
	display: inline-block;
	padding: 0px 20px;
}

.linki2 li a {
	transition: all 0.3s ease 0s;
}

.linki2 li a:hover {
	color: #1cb04d;
}

.guzik a:hover {
	color: #0e5827;
}
	

button {
	padding: 9px 25px;
	background-color: #15843a;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: #0e5827;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

div#lewy {
  float: left;
  width: 40%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

div#prawy2 {
  float: left;
  width: 40%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #1cb04d;
}

div#prawy {
  float: left;
  padding: 20px;
  width: 60%;
  background-color: #f1f1f1;
  height: 300px;
  text-align: center;
}

div#lewy2 {
  float: left;
  padding: 20px;
  width: 60%;
  background-color: #f1f1f1;
  height: 300px;
  position: relative;
  text-align: center;
}

div#produkty {
 background-color: white;
}

.produkty {
 background-color: white;
}

.produkty2 {
 background-color: white;
 align-items: center;
 text-align: center;
}


img.baner {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

footer {
	background-color: #0e5827;
}
	
p#bottom {
	font-family: "Poppins", sans-serif;
	font-weight: 550;
	color: #edf0f1;
	text-decoration: none;
	padding: 10px;
}

.row {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.produkt {
	text-align: center;
	width: 25%;
	float: left;
	margin-bottom: 40px;
}

.produkt {
	cursor: pointer;
	margin-bottom: 2rem;
}

.produkt img{
	transition: 0.3s all;
    max-width:100%;
    height:auto;
}

.produkt:hover img{
	opacity: 0.7;
}

.produkt .kup{
	margin-top: 15px;
	background: #15843a;
	transform: translateY(20px);
	opacity: 0;
	transition: 0.3s all;
}

.produkt:hover .kup{
	transform: translateY(0);
	opacity: 1;
}

section#produkty {
	background: white;
}

h5 { 
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #1cb04d;
	text-decoration: none;
	text-align: center;
	margin-bottom: 5px;
}

h4 {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 17px;
	color: black;
	text-decoration: none;
	text-align: center;
}

div#wiecej {
	text-align: center;
	align-items: center;
	margin-bottom: 30px;
}

.footer-basic {
  background-color:#4b4c4d;
  color:#4b4c4d;
  margin: 0 auto;
  padding: 0;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  transition: all 0.3s ease 0s;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:#edf0f1;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  color: #1cb04d;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

#kontakt {
	background-color: white;
}


#kontakt .dane {
	text-align: center;
}

#kontakt .mapa {
}

#kontakt .dane span {
	font-size: 12px;
}

#kontakt .dane h2 {
	font-family: "Poppins", sans-serif;
	font-weight: 1000;
	color: #0e5827;
	text-decoration: none;
	font-size: 26px;
	line-height: 35px;
	padding: 20px 0;
}

#kontakt .dane h3 {
	font-size: 16px;
	padding-bottom: 15px;
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	color: #4e574c;
	text-decoration: none;
}

#kontakt .dane li {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #1cb04d;
	text-decoration: none;
	margin-bottom: 5px;
	list-style: none;
	display: flex;
	padding: 10px 0;
	text-align: center;
	align-items: center;
}


#kontakt .dane li i {
	font-size: 14px;
	padding-right: 22px;
	text-align: center;
}

#kontakt .dane p {
	margin: 0;
	font-size: 14px;
}

#kontakt .mapa {
	width: 100%;
	height: 400px;
}

#kontakt .mapa iframe {
	width: 100%;
	height: 100%;
}

.li {
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: space-between;
	background-color: #f1f1f1;
	width: 100%;
}

.li ul {
	margin-left: 10px;
	margin-right: 10px;
}

.forum {
	background-color: #f1f1f1;
	align-items: center;
	display: flex;
	justify-content: center;
}

.formularz {
	margin-top: 60px;
	margin-bottom: 60px;
	height: auto;
	width: 900px;
	background-color: white;
}

.col-25 {
  float: left;
  width: 15%;
  margin-top: 6px;
  margin-left: 15px;
}

.col-75 {
  float: right;
  width: 80%;
  margin-top: 6px;
  margin-right: 15px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.pole {
	width: 100%;
	margin-right: 100px;
}

.formacja {
	align-items: center;
	text-align: center;
}

.font { 
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #1cb04d;
	text-decoration: none;
	text-align: center;
	margin-bottom: 5px;
	align-items: center;
}

.foka {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-size: 14px;
	color: #1cb04d;
	
	text-decoration: none;
}

input[type=text] {
  border: 0.5px solid #4e574c;
  border-radius: 0.5px;
}

::placeholder {
  color: #3b4239;
  opacity: 1; 
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.kawa {
  color: black;
  opacity: 1; 
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
}

.pole:hover {
	color: #0e5827;
}

input[type="checkbox"]:hover  { color: red;
}

.wyslij {
	font-family: "Poppins", sans-serif;
	font-weight: 1000;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

.wyslij a:hover {
	color: #0e5827;
}
	

.wyslij {
	padding: 9px 25px;
	background-color: #15843a;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.wyslij:hover {
	background-color: #0e5827;
}

.sklep {
	height: 300px;
}